img.responsive-img,
video.responsive-video {
    max-width: 100%;
    height: 60px;
}
.btn{
    border-radius: 20px;
}

.card{
border-radius: 8px;
}

.center {
    margin-top: 15px;
    margin-bottom: 15px;
}

.bold-text {
    font-weight: 600;
}

.card .card-title {
    font-size: 20px;
}

.tabs .tab a.active,
.tabs .tab a {
    color: #424242;
}
.tabs .tab a.active{
    background-color: #f0f4c3;
}

.tabs .tab a:hover{
    color: #c0ca33;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color:#f0f4c3 ;
    outline: none;
}
.tabs .indicator {
    background-color: #c0ca33 ;
}