table.striped > tbody > tr:nth-child(odd) {
    background-color:#f0f4c3;
}

table.highlight > tbody > tr:hover {
    background-color: #e6ee9c;
}

table.striped > tbody > tr > td:nth-child(1) {
    font-weight: 700;
}