table.highlight>tbody>tr:hover {
    background-color: #f0f4c3;
}

table.striped>tbody>tr>td:nth-child(3) {
    background-color: #ffcc80;
    border: 1px solid rgba(242, 242, 242, 0.5);
}

.trim {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.notific-badge {
    padding: 5px 10px;
    background: #ccc;
    border-radius: 22px;
}

.drawer {
    max-height: 180px;
    overflow: hidden;
}
